<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784549323036-as2fhpsr8k6j91i184f1fjui8pr866tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784549323036-as2fhpsr8k6j91i184f1fjui8pr866tv</string>
	<key>API_KEY</key>
	<string>AIzaSyDFoz-P0oWRC9vDsk8veQ5xcynPLdvWiyg</string>
	<key>GCM_SENDER_ID</key>
	<string>784549323036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beehive.ios</string>
	<key>PROJECT_ID</key>
	<string>beehive-production</string>
	<key>STORAGE_BUCKET</key>
	<string>beehive-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784549323036:ios:fad3b14c103d8d44759ad9</string>
	<key>DATABASE_URL</key>
	<string>https://beehive-production-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>